body{
  background-color: #EEEDED;
}

h1{
  color: #8F384D;
}

h3{
  color: #833e50;
}

h4{
  color: #082032
}

button{
  color: #64beb2;
}

p{
  color: #420516;
  font-weight: 600;
}

h6{
  color: #402218;
}